<div class="SMD-screen-overlay {{if showDismiss 'clickable'}}" {{action "clickToCancel"}}>
    <div class="SMD-modal-positional-wrapper">
        <div class="SMD-content">
            {{yield}}
        </div>
    </div>
</div>
