<h2 id="title">SMD Test</h2>
<button type="button" {{action (action "toggleSMD")}}>Open Test Dialog</button>

{{#if SMDVisible}}
  {{#simple-modal-dialog cancelDialog=(action "closeSMD")}}
    {{#simple-modal-dialog.header cancelDialog=(action "closeSMD")}}
        Test Header
    {{/simple-modal-dialog.header}}
    {{#simple-modal-dialog.body}}
        Test Body
    {{/simple-modal-dialog.body}}
    {{simple-modal-dialog.footer
      cancelText="Test Cancel"
      acknowledgeText="Test Okay"
      acknowledgeDialog=(action "closeSMD")
      cancelDialog=(action "closeSMD")}}
  {{/simple-modal-dialog}}
{{/if}}

{{outlet}}
