{{#if showDismiss}}
    <button type="button" class="button dismiss" {{action "dismiss"}}>
        Cancel
    </button>
{{/if}}
{{#if showAcknowledge}}
    <button type="button" class="button acknowledge" {{action "acknowledge"}}>
        Okay
    </button>
{{/if}}